header {
    margin-top: 0px;

    /*  !Importante - aqui Coloca a imagem backgroud na Div, pega todo o epaço, não repete as imagens e deixa qualidade otima  */
    background-image: url(../assets/images/background/Background_Intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;

}



#container {
    /* border: 2px solid red; */
    
    height: 1366px;
    height: 750px;

    display: flex;
    flex-direction: column;
    align-items: center;

    section { 
        /* border: 2px solid yellow; */

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
        
        /* Foto do perfil mais o icon code */
        &>div {
            /* border: 2px solid violet; */

            position: relative;

            &>img:nth-child(1) {
                width: 87.27px;
                border-radius: 50%;
                /* Aqui o icon code vai ficar na proporção certa e com tamanho certo com qualidade quando definimos o tamanha WIDTH */
                object-fit: cover;
                background-size: cover;
                /* Borda do contorno com a cor do fundo, sensação igual Instagram*/
                border: 4.5px solid var(--gray-200); 
                
            }

            &>img:nth-child(1):hover {
                outline: 3px solid var(--red); /* Essa propriedade pega a borda externo */
            }

            .code {
                width: 31px;
                height: 25px;
                object-fit: cover; /* Deixa o tamanho proporção ideal quando é definifo WIDTH*/

                position: absolute;
                top: 63%;
                right: -8%;
            }
        }

        
        .text-perfil {
            /* border: 2px solid violet; */

            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 56px; 
        }   
    }


    .container-tags{
        /* border: 2px solid blue; */

        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-top: 0;

        .tag {
            width: 114px;
            height: 40px;
            display: flex;

            align-items: center;
            justify-content: center;
            border-radius: 999px;
            background-color: var(--gray-300);
            color: var(--gray-500);
            border: 0; /* Borda interno 0 */
            outline: 0; /* Borda externo 0 */
            cursor: pointer;
            /* Borda do contorno com a cor do fundo, sensação igual Instagram*/
            border: 2px solid var(--gray-200); 
            
            img {
                width: 20px;
                margin-right: 8px;
            }

        }

        .tag:hover {
            outline: 3px solid var(--red); /* Defini a borda externo*/
        }

        .html img{
            width: 17px;
        }

        .css img{
            width: 17px;
        }
    }
}



