main {
    /* border: 2px solid blue; */

    

    margin: 0 auto;

    &>.descricao{
        /* border: 2px solid yellow; */

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 72px;
        
        span {
            font: var(--text-mavPro-md);
            color: var(--red);
            font-size: 24px;
        }

        h2 {
            font: var(--text-mavPro-md);
            color: var(--gray-600);
            font-size: 29px;
        }
    }






    .container-descricao {
        /* border: 2px solid yellow; */

        margin-top: 56px;
        display: grid;
        grid-template-columns: repeat(3, 330px);
        gap: 24px;
        justify-content: center;

        &>div {
            background-color: var(--gray-300);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        
        }

        &>div img {
            width: 306px;
            height: 156px;
            border-radius: 8px;
            object-fit: cover;
            margin-top: 12px;
        }

        &>div div {
            margin-left: 16px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-inline: 14px;


            h3 {
                color: var(--gray-600);
                font: var(--text-sm);
                margin-bottom: 8px;
            }

            p {
                color: var(--gray-500);
                font: var(--text-mavPro-sm);
            }
        }

    }



}



#servico-container {
    /* border: 2px solid yellow; */

    margin-bottom: 88px;
    background-color: var(--gray-100);
    padding-top: 88px;
    margin-top: 144px;

    &>div {      
        display: flex;
        flex-direction: column;
        align-items: center;
        

        span {
            font: var(--text-mavPro-md);
            color: var(--red);
            font-size: 24px;
        }

        h2 {
            font: var(--text-mavPro-md);
            color: var(--gray-600);
            font-size: 29px;
        }
    }

    
    

    .container-servico {
        /* border: 2px solid green; */

        margin-top: 56px;

        display: grid;
        grid-template-columns: repeat(3, 280px);
        justify-content: center;
        gap: 24px;
        

        .servico {
            border: 3px solid var(--gray-200);
            padding: 20px;
            border-radius: 12px;
            margin-bottom: 120px;
            margin-top: 56px;
            width: 280px;
            height: 155px;

            &>div {

                h3 {
                    color: var(--gray-600);
                    font: var(--text-mavPro-sm);
                    font-size: 19px;
                }

                p {
                    color: var(--gray-500);
                    font: var(--text-mavPro-sm);
                    
                }

            }

            
            
            
        }
    }
}



#contener-links {
    /* border: 2px solid yellow; */

    background-image: url(../assets/images/background/Background_Contacts.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;

    div {
        /* border: 2px solid blue; */

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 128px;
        
        
        
        span {
            color: var(--puple);
            font: var(--text-subtitulo);
            font-size: 24px;
            
        }

        h3 {
            color: var(--gray-600);
            font: var(--text-md);
        }

        p {
            color: var(--gray-500);
            font: var(--text-mavPro-md);
        }
    
    }



    .meus-links {
        /* border: 2px solid green; */

        padding-top: 48px;
        margin-bottom: 200px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        button {
            width: 400px;
            height: 68px;
            background-color: var(--gray-300);
            border-radius: 8px;
            border: 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px 0px 20px;
            text-align: right;
            

            &>img {
                width: 35px;
                background: none;
                cursor: pointer;
            }
            
            span {
                font: var(--text-mavPro-md);
                color: var(--gray-500);
                
                display: flex;
                flex-grow: 1;
                padding-left: 12px;
                
  
            }

            .seta {
                width: 22px;
                cursor: pointer;
            }


        }

        button:hover{
            background-color: var(--gray-200);
            outline: solid var(--gray-300);
        }
    }
}


